<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloWorld" class="com.privalia.presentation.HelloWorld">
		<property name="hello" value="¡HolaMuno!"></property>
	</bean>
	
	<bean id="helloWorldConst" class="com.privalia.presentation.HelloWorld">
		<constructor-arg index="0" value="Hola Mundo From Constructor!" type="java.lang.String" />
	</bean>
	
	<bean id="address" class="com.privalia.entity.Address">
		<constructor-arg index="0" value="1" type="int"/>
		<constructor-arg index="1" value="nombdre de la calle" type="java.lang.String"/>
	</bean>
	
	<bean id="studentSetter" class="com.privalia.entity.Student">
		<property name="name" value="Albert"></property>
		<property name="surname" value="FFFF"></property>
		<property name="age" value="33"></property>
		<property name="address">
			<ref bean="address"/>
		</property>
	</bean>
	
	<bean id="studentConst" class="com.privalia.entity.Student">
		<constructor-arg index="0" value="${student.idstudent}" type="int"/>
		<constructor-arg index="1" value="${student.name}" type="java.lang.String"/>
		<constructor-arg index="2" value="${student.surname}" type="java.lang.String"/>
		<constructor-arg index="3" value="${student.age}" type="int"/>
		<constructor-arg index="4" ref="address" />
	</bean>
	
	<!-- Para leer configuraciones de un fichero de properties  -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>config.properties</value>
		</property>
	</bean>
	
	<!-- ********* -->
	
	<bean id="teacher1" class="com.privalia.entity.listas.Teacher">
		<property name="name" value="NombreDeProfesor1"/>
		<property name="id" value="1"/>
	</bean>
	
	<bean id="teacher2" class="com.privalia.entity.listas.Teacher">
		<property name="name" value="NombreDeProfesor2"/>
		<property name="id" value="2" />
	</bean>
	
	<bean id="teacher3" class="com.privalia.entity.listas.Teacher">
		<property name="name" value="NombreDeProfesor3"/>
		<property name="id" value="3"/>
	</bean>
	
	<bean id="StudentWithTeachers" class="com.privalia.entity.listas.Student">
		<constructor-arg index="0" value="${student.idstudent}" type="int"/>
		<constructor-arg index="1" value="${student.name}" type="java.lang.String"/>
		<constructor-arg index="2" value="${student.surname}" type="java.lang.String"/>
		<constructor-arg index="3" value="${student.age}" type="int"/>
		<constructor-arg index="4">
			<list>
				<ref bean="teacher1"></ref>
				<ref bean="teacher2"></ref>
				<ref bean="teacher3"></ref>
			</list>
		</constructor-arg>
	</bean>
	
</beans>
